@charset 'utf-8';

html,head,title,body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,table,tr,td,thead,tbody,tfoot,th,div,span,
a,img,br,hr,pre,strong,form,label,input,select,textarea,fieldset,legend,figure,figcaption,header,section,footer,
aside,address,article,audio,video,picture,option,iframe{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
a{
    text-decoration:none;
    color:inherit;
}
img{
    width:100%;
    vertical-align:top;
}
ul,ol,li{
    list-style:none;
}
h1,h2,h3,h4,h5,h6,strong{
    font-weight:400;
    font-size:inherit;
}
img,span,video,audio,label,input,textarea,select,iframe{
    display:block;
}

.clearfix::after{
    content:'';
    display:block;
    clear:both;
}